.fac{
	margin: 4%;
	font-size: 18px;
}
.cse2{
	font-weight: bold;
	color: orange;
}
.ece2{
	font-weight: bold;
	color: navy;
}
.eee2{
	font-weight: bold;
	color: red;
}
.me2{
	font-weight: bold;
	color: olive;
}
.cse3{
	color: lime;
}
.ece3{
	color: darkcyan;
}
.eee3{
	color: brown;
}
.me3{
	color: cadetblue;
}